<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Домашнее задание №7</title>
    <link rel="stylesheet" href="https://bootswatch.com/superhero/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous" defer></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" defer></script>
    <script src="../../../../Task4/js/main.js" defer></script>
    <script src="../../../../assets/template/js/main.js" defer></script>
    <script src='https://www.google.com/recaptcha/api.js'  defer></script>
</head>
<body>
    <style>
        .auth-form{
            margin-top: 25px;
        }
        .auth-form_inputs{
            margin-bottom: 20px;
        }
        .g-recaptcha{
            margin: 0px auto 10px;
            display: inline-block;
        }
        .error{
            color: red;
        }
        .successful{
            color: green;
        }
        input{
            margin-bottom: 5px;
        }
    </style>

    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Домашнее задание №7</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav">
                    {% if users == false %}
                    <li><a href="/">Авторизация</a></li>
                    <li><a href="/registration">Регистрация</a></li>
                    {% else %}
                    <li><a href="/users">Пользователи</a></li>
                    <li><a href="/settings">Настройки</a></li>
                    {% endif %}
                </ul>

                {% if users != false %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/logout">Выход</a></li>
                </ul>
                {% endif %}
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

</body>
</html>

</body>
</html>